# Arquivos de compilacao
/build/
x64/
x86/
Debug/
Release/
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.idb

# Diretorios de saida gerados pelo CMake
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Configuracoes do Visual Studio
.vs/
.vscode/
*.vcxproj.user
*.vcxproj.filters
*.vcxproj

# Arquivos temporarios
*.log
*.tmp
*.tlog
*.suo
*.ipch
*.sdf
*.opensdf

# Outros arquivos e caches
*.cache
*.ncb
*.lock
*.db
*.recipe
