# Arquivos de compilação
x64/
x86/
Debug/
Release/
*.obj
*.exe
*.dll
*.lib
*.pdb

# Configurações do Visual Studio
.vs/
.vscode/

# Arquivos temporários
*.log
*.tmp
*.user
*.suo
*.ipch
*.idb
*.tlog

# Outros
*.cache
*.ncb
*.sdf
*.opensdf
*.vcxproj.user
